<%= render 'layouts/errors', object: @todo %>

<div class="well bs-component col-md-offset-3 col-md-6">
  <legend>Enter the new note:</legend>
  <%= form_for [@user, @todo], class: 'form-vertical' do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :description, class: "col-md-4 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :description %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-4">
        <% if @user.new_record? %>
          <%= f.submit "Create Todo" %>
        <% else %>
          <%= f.submit "Update Todo" %>
        <% end %>
      </div>
    </div>
  </fieldset>
  <% end %>
</div>
